# Housing sales Price and Venues Data Analysis in Jakarta

## A. Introduction

### A.1 Description and Discussion Background

Jakarta has most density in Indonesia with 9.6 million people live. It has 661,5 SqKm with 14.464 people per square kilometer. The city is divided to 5 borough East, West, South,North and Center Jakarta. As an Indonesian, I use my capital city in my project. As a capital city and a business city, Jakarta has high price real estates. If people want to live in Jakarta, it should cost around Rp. 2.000.0000 - Rp. 5.000.000 average per month to rent an apartment or a boarding house, and around Rp. 500.000.000 - Rp. 1.000.000.000 for an apartment, of course it depends on the location. When we start to think to live in Jakarta, we may want to choose the best location for us with vary venues like cafe, hospital, etc and low cost absolutely. However it is difficult to obtain the information to determine which real estate we should buy. Will the house really worth it or not.

When we consider all the parameter, we can create a information chart where the real estate is placed and each district is clutered according to the venues.

### A.2 Data Description

This is the data I will use:

- https://ekonomi.bisnis.com/read/20171110/48/708065/berikut-pergerakana-harga-properti-di-jakarta Average house price in jakarta
- Foursquare API to show venues around the borough

## B. Methodology

I used github to store my database. My main data include Borough, average pricing house in Jakarta based on ekonomi.bisnis.com, latitude and longitude. I used python for my programming language cause it has a tons of library that can help me to analyze. I used folium to visualize geographic detail of Jakarta.



1. Creating dataframe from news data

In [1]:
import pandas as pd
import numpy as np

In [5]:
datas = [['East Jakarta',7900,6.225,106.900],['West Jakarta',13200,6.167,106.763],['North Jakarta',17100,6.155,106.892],['South Jakarta',17900,6.261,106.810],['Center Jakarta',18700,6.2088,106.845]]
df = pd.DataFrame(datas)
df.columns = ['Borugh','Avg Price','Latitude','Longitude']
df

           Borugh  Avg Price  Latitude  Longitude
0    East Jakarta       7900    6.2250    106.900
1    West Jakarta      13200    6.1670    106.763
2   North Jakarta      17100    6.1550    106.892
3   South Jakarta      17900    6.2610    106.810
4  Center Jakarta      18700    6.2088    106.845